<header class="app-header">
    <mat-toolbar>
        <img src="assets/images/logo-mdm.png" alt="Logo" height="80">
        <span class="spacer"></span>
        <button mat-button>Sobre</button>
        <button mat-button>Serviços</button>
        <button mat-flat-button class="primary-button">Contato</button>
        <!-- <button mat-flat-button class="primary-button">Cadastre-se</button>
        <button mat-stroked-button>Login</button> -->
        <!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button> -->
    </mat-toolbar>
</header>
  