<footer>
    <app-container>
        <div class="d-flex">
            <ul class="socials">
                <li>Me siga nas redes sociais:</li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
              </ul>
            <span class="spacer"></span>
            <p>© Todos os direitos reservados - <b>Stefani Prata </b><span>{{ year }}</span></p>
        </div>
    </app-container>
</footer>