footer{
    background-color: var(--color-dark-black-600);
    color: var(--color-white);
    text-align: center;
    padding: 2rem 0;

    ul.socials{
        margin-top: .5rem;

        li{
            padding: 0 .5rem;
            display: inline;
        }
        a{
            color: var(--color-white);
            font-size: var(--size-xxl);
        }
    }
}