<footer>
    <app-container>
        <p>© Todos os direitos reservados - <b>Stefani Prata </b><span>{{ year }}</span></p>
        <ul class="socials">
            <li>
                <a href="#" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </app-container>
</footer>